<h1><%= @movie.title%>'s Details</h1>

<h3>Year Made: <%= @movie.creation_year %></h3>
<h4>Genre: <%= @movie.genre %></h4>

<h2>Actors appearing in this film</h2>
<% @movie.chronological_actors.each do |actor| %>
<p><%= actor.name %></p>
<% end %>
<h3>Average age of actors: <%= @movie.actors_avearge_age%></h3>

<section id="add-an-actor">
<h4>Add an Actor to this film</h4>
<%= form_with url: "/movies/#{@movie.id}", method: :get, local: true do |form| %>
<%= form.label :actor_name %>
<%= form.text_field :name %>
<%= form.submit "Submit" %>
<%end%>
</section>
